@import 'tailwindcss';

:root {
    --fs-sm: .75rem;
    --fs-md: 1rem;
    --fs-lg: 3rem;
    --fs-header: clamp(8rem, 10vw + 1rem, 12rem);
}

.text-md {
    font-size: var(--fs-md)
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image {
    transform: translateY(80px);
    opacity: 0;
    transition: 300ms;
}

.image.show {
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 767px){
    .image {
        transform: translateX(80px);
        opacity: 0;
        transition: 300ms;
    }
    
    .image.show {
        transform: translateX(0px);
        opacity: 1;
    }
}